@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Poppins:ital,wght@1,100&display=swap');


* {
    font-family: "Montserrat";
    font-weight: 900;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
.navbar_color {
    background-color: #142F43;
    
}
.navbar_color li,a {
    color: #FFAB4C;
}