@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Poppins:ital,wght@1,100&display=swap');


* {
    font-family: "Montserrat";
}
/* navbar */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
header {

    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
header .navbar-brand{
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.6em;
    font-weight: 500;
    color: #FFAB4C !important;
}
header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    background: #142F43 !important;

}
 @media (max-width: 1200px) {
     header .navbar{
        padding-top: .5rem;
        padding-bottom: .5rem;
        background: #142F43 !important;

     }
 }
 header .navbar .nav-link {
     padding: 1.7rem 1rem;
    
 }
 header .navbar .dropdown-menu {
     font-size: 14px;
     border-radius: 10px;
     border: none;
     box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.2);
     min-width: 13em;
     margin-top: -10px;
 }
 header .navbar .dropdown-menu:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff ;
    border-width: 10px;
 }
 header .navbar .dropdown-menu .dropdown-item:hover{
     background: #142F43;
     color: #fff;
 }
 header .navbar .dropdown-menu .dropdown-item:active{
     background: #142F43;
     color: #fff;
 }

.aboutUs h1{
    margin-top: 2rem;
    margin-left: 45%;
    font-weight: bolder;
}

.aboutUs :not(h1) {
    padding: 50px;
    margin: 1.5rem 4.5rem;
}

/* Footer css */
.site-footer {

    padding: 5em 0;
    background: #142F43;
    font-size: 14px;
    color: #fff;
}
.site-footer p:last-child {
    margin-bottom: 0;
}

.site-footer a {
    color: #FFAB4C;
    border-bottom: 1px solid transparent;
    text-decoration: none !important;
}

.site-footer a:hover{
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-footer h2 {
    font-size: 22px;
    margin-bottom: 28px;
    letter-spacing: .05em;
    color: #fff;
    
}

.site-footer .footer-link li {
    line-height: 1.5;
    margin-bottom: 15px;
}

.footer-social a{
    line-height: 0;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}

.footer-social a:hover {
    background: #fff;
    border-color: #fff;
    color: #000;
}
