@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Poppins:ital,wght@1,100&display=swap');


* {
    font-family: "Montserrat";
}
/* navbar */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
header {

    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
header .navbar-brand{
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.6em;
    font-weight: 500;
    color: #FFAB4C !important;
}
header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    background: #142F43 !important;

}
 @media (max-width: 1200px) {
     header .navbar{
        padding-top: .5rem;
        padding-bottom: .5rem;
        background: #142F43 !important;

     }
 }
 header .navbar .nav-link {
     padding: 1.7rem 1rem;
    
 }
 header .navbar .dropdown-menu {
     font-size: 14px;
     border-radius: 10px;
     border: none;
     box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.2);
     min-width: 13em;
     margin-top: -10px;
 }
 header .navbar .dropdown-menu::before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff ;
    border-width: 10px;
 }
 header .navbar .dropdown-menu .dropdown-item:hover{
     background: #142F43;
     color: #fff;
 }
 header .navbar .dropdown-menu .dropdown-item:active{
     background: #142F43;
     color: #fff;
 }
/* Footer css */
.site-footer {

    padding: 5em 0;
    background: #142F43;
    font-size: 14px;
    color: #fff;
}
.site-footer p:last-child {
    margin-bottom: 0;
}

.site-footer a {
    color: #FFAB4C;
    border-bottom: 1px solid transparent;
    text-decoration: none !important;
}

.site-footer a:hover{
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-footer h2 {
    font-size: 22px;
    margin-bottom: 28px;
    letter-spacing: .05em;
    color: #fff;
    
}

.site-footer .footer-link li {
    line-height: 1.5;
    margin-bottom: 15px;
}

.footer-social a{
    line-height: 0;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}

.footer-social a:hover {
    background: #fff;
    border-color: #fff;
    color: #000;
}

/* reservation */
.main-page {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url('../images/bsp9-1170x700.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.text{
    margin-left: 100px;
}
.text h1{
    font-size: 3rem;
    letter-spacing: 2px;
}
.text span {
    color: #FFAB4C;
}
.text p {
    
    font-size: 1.5rem;
    font-weight: 500;
}
.form-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 4rem;
    left: 100px;
    background: #fff;
    padding: 20px;
    border-radius: 0.5rem;
}
.input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
.input-box input{
    padding: 7px;
    outline: none;
    border: none;
    background: #eeeff1;
    border-radius: 0.5rem;
    font-size: 1rem;

}
.form-container form .btn {
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: #142F43;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.form-container .btn:hover {
    background: #FFAB4C;
}
.heading {
    text-align: center;
}
.heading span {
    font-weight: 600;
    text-transform: uppercase;
}
.heading h1 {
    font-size: 2rem;
}

.how {
    margin-top: 2rem;
}
.how-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.how-container .how-box {
    text-align: center;
    padding: 20px;
}

.how-container .how-box .bi {
    font-size: 34px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 0.5rem;
    color: #FFAB4C;
}
.how-container .how-box h2{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1.4rem 0 0.5rem;

}
.how-container .how-box .bi:hover, .how-container .bi {
    background: #FFAB4C;
    color: #fff;
}

/* fleet */
.fleet {
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
}
.fleet-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.fleet-container .fleet-box {
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}
.fleet-container .fleet-box .box-img {
    width: 100%;
    height: 200px;
}
.fleet-container .fleet-box .box-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.fleet-container .fleet-box h3 {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

.box-img {
    transition: 1s;
}

.box-img img {
    display: block;
    width: 100%;
    border-radius: 0.5rem;

}
.box-img:hover {
    transform: scale(1.3);
    z-index: 2;
}

/* testimonials */
.testimonials {
    margin: 7rem 5rem 7rem 5rem;
    
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;

}

.test-img {
    width: 70px;
    height: 70px;
}

.test-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid #FFAB4C;

}

.testimonials-container .test-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.testimonials-container .test-box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}
.testimonials-container .test-box .stars .bi {
    color: #FFAB4C;
}

/* about us */

.about-us {
    height: auto;
    width: 100%;
    background: #eeeff1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us img {
    width: 50%;
    height: auto;
}

.about-us .about-us-container {
    width: 1290px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
    margin: 10rem 0 10rem;
}
.about-text {
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
    height: auto;
}
.about-us-container{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: auto;
}

.about-text h4 {
    font-size: 25px;
    color: #FFAB4C;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
    height: auto;
}

.about-text h1{
    font-size: 56px;
    color: #111;
    font-weight: 700;
    margin-bottom: 20px;
    height: auto;
}

.about-text p {
    font-size: 16px;
    color: #777;
    line-height: 20px;
    margin-bottom: 30px;
    height: auto;
}
.about-us .btn button{
    background: white;
    padding: 20px 32px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    border: none;
    outline: none;
    box-shadow: 0px 16px 32px 0px rgb(0, 0, 0 / 6%);
    
    

}
.about-us .btn button:hover {
    background-color: #142F43;
    color: white;
    transition: .3s;
    cursor: pointer;
}

.about-us .btn .btn2 {
    background:#FFAB4C;
    color: white;
}
/* responsive */
@media (max-width: 991px) {
    section {
        padding: 50px 40px;
    }
    .fleet {
        padding: 0 10px;
    }
    .about-text {
        text-align: center;
        margin-top: 40px;
    }
    .about-us img {
        width: 260px;
        height: auto;
    }
    .about-us .btn2 {
        margin-top: 15px;
    }

}

@media (max-width: 881px) {
    .main-page {
        background-position: left;
    }
    .form-container form {
        bottom: 0.2rem;
        left: 40px;
    }
}

@media (max-width: 768px) {
    .main-page {
        grid-template-columns: 1fr;
    }
    .form-container form {
        position: unset;
    }
    .text h1 {
        font-size: 2.5rem;
    }
    .heading span {
        font-size: 0.9rem;
        font-weight: 600;
    }
    .heading h1{
        font-size: 1.3rem;
    }
    .about-text h1 {
        font-size: 45px;
        margin-bottom: 20px;
    }
}

@media (max-width: 350px) {
    
    .text h1 {
        font-size: 2rem;
    }
    .form-container {
        padding-top: 2rem;
    }
    .fleet-container {
        grid-template-columns: repeat(auto-fit, minmax(254px, auto));
    }
    .fleet-box {
        width: 100%;
        height: auto;
    }
}